[include mainsail.cfg]
[include sovol-macros.cfg]
[include timelapse.cfg] # DONT FORGET TO INSTALL THE TIMELAPSE PLUGIN

# PLEASE UNCOMMENT THE FILE THAT BEST FITS YOUR CONFIGURATION
# DON'T NEED OR WANT TO USE SOMETHING, DON'T USE (UNCOMMENT) IT

# Configs and menu for the stock lcd screen.
#[include options/lcd/*.cfg]

# If you are using the stock probe, keep the following lines as-is.
# If you have an Eddy probe, comment the stock probe and uncomment the eddy, then go read options/probe/eddy.cfg. 
# Also, when using eddy, comment out/remove the [probe] section here in the printer.cfg (don't forget the bottom 'SAVE_CONFIG' block)
#[include options/probe/stock.cfg] # Stock probe, default
#[include options/probe/eddy-ng.cfg] # BTT Eddy probe

# Want to use a thermistor in your enclosure? You can use a RPi Pico with a BME280.
# Read the guide at /pico-thermistor/ on how to do this. Once ready you can uncomment the cfg below.
#[include options/thermistor/pico.cfg

###LED's##
# [include led.cfg]

# Include Nadirs Purge Config (Voron Logo)
[include options/probe/purge.cfg]

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f103xe_38FFD9053347533826722551-if00
restart_method: command     

[mcu extra_mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f103xe_51FF72064849824914270967-if00
restart_method: command     

[mcu eddy]
serial: /dev/serial/by-id/usb-Klipper_rp2040_5044340310771C1C-if00  # Change this to your own path
restart_method: command

[temperature_sensor btt_eddy_mcu]
sensor_type: temperature_mcu
sensor_mcu: eddy
min_temp: 10 # Sets the minimum tempereature for eddys tempereature sensor to operate
max_temp: 100 # Sets the maximum tempereature for eddys tempereature sensor to operate

[probe_eddy_ng btt_eddy]
sensor_type: ldc1612 #btt_eddy <HIER NUR EIN TEST
i2c_mcu: eddy
i2c_bus: i2c0f
x_offset: -16 # These offsets are for the above linked Eddy mount on the stock toolhead.
y_offset: 11.5
#tap_adjust_z: 0.032 # Important for later Adjustments

[temperature_probe btt_eddy]
sensor_type: Generic 3950
sensor_pin: eddy:gpio26
horizontal_move_z: 2
calibration_position: 319,176,5 ; This sets the position for temperature drift calibration over the center right heatbed screw, for a more accurate reading during calibration.

[bed_mesh]
speed: 150 #500
horizontal_move_z: 2.0
mesh_min: 15,18 # These min/max points are with the above linked Eddy mount on the stock toolhead.
mesh_max: 335,335
probe_count: 15,15 # 25,25 # Set to a lower 15,15 default as it appears a too high probe_count (too dense mesh) is bad with rapid_scan, see: https://www.klipper3d.org/Bed_Mesh.html#rapid-continuous-scanning
algorithm: bicubic
bicubic_tension: 0.5
split_delta_z: 0.0125 # see: https://www.klipper3d.org/Bed_Mesh.html#move-splitting
mesh_pps: 3,3
adaptive_margin: 5
fade_start: 1
fade_end: 10
fade_target: 0
#scan_overshoot: 5  #uncomment this section if you still have room left over on the X axis for some scan overshoot to product smoother movements and more accurate scanning. Uncommenting this should be fine if you are using a standard voron mount.

[homing_override]
gcode:
  # Move 5 up, just in case (this is our safety zhop, this needs 'set_position_z: 0' below)
  G91 ; set relative positioning
  G0 Z5 F1000 ; 5 up zhop
  {% if not rawparams or 'Y' in rawparams %}
    {action_respond_info('Homing Y')}
    G28 Y
    G90 ; set absolute positioning
    G0 Y177.5 F6000 ; return to center
    M400 ; Wait for move to finish
  {% endif %}
  {% if not rawparams or 'X' in rawparams %}
    {action_respond_info('Homing X')}
    G28 X
    G90 ; set absolute positioning
    G0 X177.5 F6000 ; return to center
    M400 ; Wait for move to finish
  {% endif %}
  {% if not rawparams or 'Z' in rawparams %}
    {action_respond_info('Homing Z')}
    G90 ; set absolute positioning
    G0 X177.5 Y177.5 F6000 ; return to center, please add your offsets manually if you want to
    G28 Z
    G0 Z10 F1000 ; move to z10 before probe
    G0 Z2 F1000 ; move to z2 to finish
    M400 ; Wait for move to finish
    PROBE_EDDY_NG_PROBE_STATIC HOME_Z=1
    G0 Z5 F1000 ; 5mm up
    M400 ; Wait for move to finish
  {% endif %}
  G90 ; set absolute positioning
axes: xyz
set_position_z: 0 # This forces the z position to be at 0 when we start homing, so we can move the Z up before homing.

[virtual_sdcard]
path: ~/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[printer]
kinematics: corexy           
max_velocity: 700            
max_accel: 40000             
#max_accel_to_decel: 10000 # deprecated
minimum_cruise_ratio: 0.5
max_z_velocity: 20           
max_z_accel: 500             
square_corner_velocity: 5.0 

[stepper_x]
step_pin: PE2
dir_pin: !PE0
enable_pin: !PE3
rotation_distance: 40         
microsteps: 16                
full_steps_per_rotation:200   
endstop_pin: tmc2209_stepper_x: virtual_endstop              
position_min: 0               
position_endstop: 355         
position_max: 355             
homing_speed: 30              
homing_retract_dist: 0        
homing_positive_dir: True     
#--------------------------------------------------------------------
[tmc2209 stepper_x]
uart_pin: PE1
interpolate: True             
run_current: 1.1              
#hold_current: 1.2             
sense_resistor: 0.150         
stealthchop_threshold: 0      
uart_address:3
driver_sgthrs: 70
diag_pin: PE15

[stepper_y]
step_pin: PB8
dir_pin: !PB6
enable_pin: !PB9
rotation_distance: 40         
microsteps: 16                
full_steps_per_rotation:200   
endstop_pin: tmc2209_stepper_y: virtual_endstop              
position_min: 0               
position_endstop: 362         
position_max: 362            
homing_speed: 30              
homing_retract_dist: 0        
homing_positive_dir: true     
#--------------------------------------------------------------------
[tmc2209 stepper_y]
uart_pin: PB7
interpolate: True             
run_current: 1.1              
#hold_current: 1.2             
sense_resistor: 0.150         
stealthchop_threshold: 0      
uart_address:3
driver_sgthrs: 70
diag_pin: PE13 

[stepper_z] #motherboard：Z3 
step_pin:PC0    
dir_pin:PE5    
enable_pin:!PC1    
rotation_distance: 40         
gear_ratio: 80:12             
microsteps: 16                
endstop_pin: probe:z_virtual_endstop           
position_max: 347             
position_min: -5              
#position_endstop: 0
homing_speed: 15.0
homing_retract_dist: 5.0
homing_retract_speed: 15.0
second_homing_speed: 10.0

[tmc2209 stepper_z]
uart_pin: PE6 
interpolate: true             
run_current: 0.55           
#hold_current: 0.58         
sense_resistor: 0.150         
stealthchop_threshold: 999999 
uart_address:3

[stepper_z1] ##motherboard：Z1
step_pin:PD3  
dir_pin:!PD1 
enable_pin:!PD4 
rotation_distance: 40         
gear_ratio: 80:12            
microsteps: 16               

[tmc2209 stepper_z1]
uart_pin:PD2  
interpolate: true             
run_current:  0.55          
#hold_current: 0.58           
sense_resistor: 0.150         
stealthchop_threshold: 999999 
uart_address:3

[stepper_z2] ##motherboard：Z2
step_pin:PD7
dir_pin:PD5   
enable_pin:!PB5
rotation_distance: 40         
gear_ratio: 80:12             
microsteps: 16                

[tmc2209 stepper_z2]
uart_pin:PD6  
interpolate: true             
run_current: 0.55            
#hold_current: 0.58           
sense_resistor: 0.150         
stealthchop_threshold: 999999 
uart_address:3

[stepper_z3] ##motherboard：Z4
step_pin:PD11 
dir_pin:!PD9 
enable_pin:!PD12   
rotation_distance: 40         
gear_ratio: 80:12             
microsteps: 16                

[tmc2209 stepper_z3]
uart_pin:PD10    
interpolate: true            
run_current: 0.55         
#hold_current: 0.58           
sense_resistor: 0.150         
uart_address:3
stealthchop_threshold: 999999 

[thermistor my_thermistor_e]
temperature1:25
resistance1:110000
temperature2:100
resistance2:7008
temperature3:220
resistance3:435

[extruder]
step_pin: extra_mcu:PA8   
dir_pin: extra_mcu:PB8    
enable_pin:!extra_mcu: PB11   
rotation_distance: 6.5 
microsteps: 16                
full_steps_per_rotation: 200 
nozzle_diameter: 0.400        
filament_diameter: 1.75  
# max_extrude_only_distance: 150     
heater_pin:extra_mcu:PB9  
sensor_type:my_thermistor_e  
pullup_resistor: 11500
sensor_pin: extra_mcu:PA5  
min_temp: 5                  
max_temp: 305                 
max_power: 1.0                
min_extrude_temp: 5
control : pid
pid_kp : 33.838
pid_ki : 5.223
pid_kd : 47.752
pressure_advance: 0.025       
pressure_advance_smooth_time: 0.035
max_extrude_only_distance: 1000.0
max_extrude_cross_section: 5

[tmc2209 extruder]
uart_pin: extra_mcu:PB10  
interpolate: True             
run_current: 0.8           
#hold_current: 0.75             
uart_address:3
sense_resistor: 0.150          

[verify_heater extruder]      
max_error: 120                
check_gain_time:30           
hysteresis: 5                
heating_gain: 2               

[filament_switch_sensor filament_sensor]
pause_on_runout: True
event_delay: 3.0
pause_delay: 0.5
switch_pin: PE9

[thermistor my_thermistor]
temperature1:25
resistance1:100000
temperature2:50
resistance2:18085.4
temperature3:100
resistance3:5362.6

[heater_bed]
heater_pin:PA0
sensor_type: my_thermistor  
sensor_pin: PC5
max_power: 1.0               
min_temp: 5                  
max_temp: 105                
#control : pid
#pid_kp : 73.571
#pid_ki : 1.820
#pid_kd : 783.849

[verify_heater heater_bed]      
max_error: 120                
check_gain_time:40           
hysteresis: 5                
heating_gain: 2 

[probe_pressure]
pin: ^!PE12     
x_offset: 0                  
y_offset: 0
z_offset : 0
speed: 1.0

[quad_gantry_level]          
gantry_corners:              
	-60,-10
	410,420
points:
	36,10
	36,320
	346,320
	346,10
speed: 400                   
horizontal_move_z: 10       
retry_tolerance: 0.05      
retries: 5                  
max_adjust: 30   

[multi_pin print_cooling_fan_pins]
pins: extra_mcu:PA7, extra_mcu:PB1

# print/part cooling fan
[fan]
pin: multi_pin:print_cooling_fan_pins
max_power: 1.0

# [fan_generic exhaust_fan] # exhaust fan
# pin: PA2
# max_power: 1.0

# # MCU fan, aka noisy boi, is now only enabled when using steppers, extruder, heatbed; 5min timeout
# [controller_fan MCU_fan]
# pin: PA1
# max_power: 1
# kick_start_time: 0.5
# fan_speed: 1
# idle_timeout: 300
# heater: extruder, heater_bed
# stepper: stepper_x, stepper_y

# Want your fan (host) temperature controlled? Uncomment the next section and comment out the above section, derived from: https://www.reddit.com/r/Sovol/comments/1cqntzu/first_mod_on_my_sv08_noctua_fan_for_the/
# WARNING: Do you have a Noctua 24V 4010 fan (eg. NF-A4x10 24V PWM)? Then this will not work and results in a non-spinning fan.
# In that case you can either use the above 'controller_fan' section or use 'control: watermark' and leave the pid entries commented out.
[temperature_fan MCU_fan]
pin: PA1
kick_start_time: 0.5
max_power: 1.0
min_temp: 0
max_temp: 90
hardware_pwm: true
target_temp: 55
sensor_type: temperature_host # please comment out or remove the [temperature_sensor Host_temp] section if you don't want the temperature shown twice in the interface.
max_speed: 1.0
min_speed: 0.1
#control: pid
#pid_Kp: 2.0     ;40
#pid_Ki: 5.0     ;0.2
#pid_Kd: 0.5     ;0.1
#pid_deriv_time: 2.0
control: watermark # use this control if pid control does not work for your fan

#--------------- 2 Fan for Mainboard cooling (optional) ------------
# Want your fan (host) temperature controlled? Uncomment the next section and comment out the above section, derived from: https://www.reddit.com/r/Sovol/comments/1cqntzu/first_mod_on_my_sv08_noctua_fan_for_the/
# WARNING: Do you have a Noctua 24V 4010 fan (eg. NF-A4x10 24V PWM)? Then this will not work and results in a non-spinning fan.
# In that case you can either use the above 'controller_fan' section or use 'control: watermark' and leave the pid entries commented out.
[temperature_fan MCU_fan]
pin: PA2
kick_start_time: 0.5
max_power: 1.0
min_temp: 0
max_temp: 90
hardware_pwm: true
target_temp: 55
sensor_type: temperature_host # please comment out or remove the [temperature_sensor Host_temp] section if you don't want the temperature shown twice in the interface.
max_speed: 0.5
min_speed: 0.1
#control: pid
#pid_Kp: 2.0     ;40
#pid_Ki: 5.0     ;0.2
#pid_Kd: 0.5     ;0.1
#pid_deriv_time: 2.0
control: watermark # use this control if pid control does not work for your fan

[heater_fan hotend_fan]      
pin: extra_mcu:PA6   
max_power: 1.0               
kick_start_time: 0.5         
heater: extruder             
heater_temp: 50              
tachometer_pin:extra_mcu:PA1
tachometer_ppr: 1
tachometer_poll_interval: 0.0013

[gcode_arcs]                       
resolution: 1.0                    

# Defined as an LED for ease of control
# [led main_led]
# white_pin:PA3
# cycle_time: 0.010
# hardware_pwm: False
# initial_WHITE: 1.0

[idle_timeout]
gcode: _IDLE_TIMEOUT
timeout: 600


[temperature_sensor mcu_temp]         
sensor_type: temperature_mcu
min_temp:0
max_temp:100

# [temperature_sensor Host_temp]     
# sensor_type: temperature_host
# min_temp: 0
# max_temp: 110

[temperature_sensor Toolhead_Temp]
sensor_type: temperature_mcu
sensor_mcu: extra_mcu

[pause_resume]

[exclude_object]

[adxl345]
cs_pin:extra_mcu:PB12

[resonance_tester]
accel_chip: adxl345
probe_points:
   175, 175, 30  # an example175 Y175 Z30
accel_per_hz:50
min_freq:1
max_freq:100
max_smoothing:0.2
hz_per_sec:0.5

[input_shaper]
damping_ratio_x: 0.001
damping_ratio_y: 0.001
#shaper_type_x = mzv
#shaper_freq_x = 35
#shaper_type_y = mzv
#shaper_freq_y = 35

[save_variables]
filename = ~/printer_data/config/saved_variables.cfg

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [input_shaper]
#*# shaper_type_x = mzv
#*# shaper_freq_x = 57.8
#*# shaper_type_y = mzv
#*# shaper_freq_y = 38.6
#*#
#*# [extruder]
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 58.738
#*# pid_ki = 2.838
#*# pid_kd = 303.971
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	0.122808, 0.095383, 0.071601, 0.071587, 0.063530, 0.057636, 0.044911, 0.036116, 0.047093, 0.042712, 0.052380, 0.070071, 0.064833, 0.103585, 0.137289
#*# 	0.178285, 0.135786, 0.128570, 0.115787, 0.107238, 0.111504, 0.099290, 0.088918, 0.092595, 0.099927, 0.117052, 0.107238, 0.127932, 0.139406, 0.170562
#*# 	0.190153, 0.180377, 0.175360, 0.141516, 0.152070, 0.132185, 0.132175, 0.116419, 0.117052, 0.118792, 0.115155, 0.130682, 0.133441, 0.155022, 0.198443
#*# 	0.255568, 0.209600, 0.197213, 0.189922, 0.183307, 0.166146, 0.162186, 0.163431, 0.147855, 0.146606, 0.156264, 0.157991, 0.176211, 0.198443, 0.230941
#*# 	0.238499, 0.222153, 0.212495, 0.202567, 0.186605, 0.166992, 0.162810, 0.157747, 0.149104, 0.150581, 0.142146, 0.158371, 0.158997, 0.175978, 0.218051
#*# 	0.273341, 0.248284, 0.233597, 0.226850, 0.207541, 0.211041, 0.204254, 0.187225, 0.197213, 0.186608, 0.188688, 0.183307, 0.196987, 0.215996, 0.240753
#*# 	0.255181, 0.253541, 0.235850, 0.213719, 0.205479, 0.197786, 0.188068, 0.170565, 0.174124, 0.176821, 0.164672, 0.168472, 0.196371, 0.199283, 0.235250
#*# 	0.281348, 0.260653, 0.250312, 0.232376, 0.224811, 0.218662, 0.200124, 0.191614, 0.191614, 0.198663, 0.189314, 0.200725, 0.224200, 0.232978, 0.246035
#*# 	0.264688, 0.259225, 0.238725, 0.222155, 0.217209, 0.199058, 0.191606, 0.172035, 0.182450, 0.180370, 0.171183, 0.178668, 0.205482, 0.209598, 0.251735
#*# 	0.276762, 0.252117, 0.230341, 0.217217, 0.208378, 0.193071, 0.185386, 0.180988, 0.176828, 0.172421, 0.179519, 0.175360, 0.196371, 0.206092, 0.241354
#*# 	0.236073, 0.227466, 0.208153, 0.206924, 0.187235, 0.179530, 0.181845, 0.156512, 0.149333, 0.150823, 0.160706, 0.152927, 0.178059, 0.201125, 0.227689
#*# 	0.239093, 0.201353, 0.203190, 0.185992, 0.165757, 0.156277, 0.148480, 0.136425, 0.139406, 0.151446, 0.146364, 0.136656, 0.160478, 0.187235, 0.204254
#*# 	0.175975, 0.169943, 0.179143, 0.202804, 0.154800, 0.123684, 0.116417, 0.094989, 0.096263, 0.097777, 0.109134, 0.108503, 0.138542, 0.139406, 0.190154
#*# 	0.157750, 0.130062, 0.138152, 0.174122, 0.109134, 0.081557, 0.069427, 0.069823, 0.059181, 0.060473, 0.063298, 0.081792, 0.092595, 0.115155, 0.150819
#*# 	0.115787, 0.100552, 0.077468, 0.080265, 0.058936, 0.046706, 0.039864, 0.021055, 0.016880, 0.019749, 0.031044, 0.028848, 0.055448, 0.079381, 0.115155
#*# x_count = 15
#*# y_count = 15
#*# mesh_x_pps = 3
#*# mesh_y_pps = 3
#*# algo = bicubic
#*# tension = 0.5
#*# min_x = 15.0
#*# max_x = 334.90000000000003
#*# min_y = 18.0
#*# max_y = 334.95999999999987
#*#
#*# [probe_eddy_ng btt_eddy]
#*# calibrated_drive_currents = 16, 17
#*# calibration_version = 5
#*# reg_drive_current = 17
#*# tap_drive_current = 17
#*# calibration_16 = gASVywMAAAAAAAB9lCiMAXaUSwWMBGZ0b2iUjBtudW1weS5wb2x5bm9taWFsLnBvbHlub21pYWyUjApQb2x5bm9taWFslJOUKYGUfZQojARjb2VmlIwWbnVtcHkuX2NvcmUubXVsdGlhcnJheZSMDF9yZWNvbnN0cnVjdJSTlIwFbnVtcHmUjAduZGFycmF5lJOUSwCFlEMBYpSHlFKUKEsBSwqFlGgMjAVkdHlwZZSTlIwCZjiUiYiHlFKUKEsDjAE8lE5OTkr/////Sv////9LAHSUYolDUAU4Vg/ZGP8/Qfc3sIJf/T84k8fI5QbmPwt30kL7ANY/hMNfZUGmw79lITbpTjmRP62VjDbrJ9s/Roy913Oomz+JOSL8rjDEv8HgLngmGIs/lHSUYowGZG9tYWlulGgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQ5LDjgcmolD5sPZ1R8dGUPpR0lGKMBndpbmRvd5RoC2gOSwCFlGgQh5RSlChLAUsChZRoGIlDEAAAAAAAAPC/AAAAAAAA8D+UdJRijAdfc3ltYm9slIwBeJSMBnN5bWJvbJRoLHVijAlmdG9oX2hpZ2iUaAUpgZR9lChoCGgLaA5LAIWUaBCHlFKUKEsBSwqFlGgYiUNQ5YcsWlB1G0AnriCFLZ8KQD26F9IlPgBAV2CGcAECCECNSdmwz5z2vwEB17kdnyDAdjnTr7aVEkBvpC9vbg8tQM6kn43YkwLA7l5v3Tc1HcCUdJRiaB1oC2gOSwCFlGgQh5RSlChLAUsChZRoGIlDEOIR2dMA0JQ+96BgVH3elD6UdJRiaCRoC2gOSwCFlGgQh5RSlChLAUsChZRoGIlDEAAAAAAAAPC/AAAAAAAA8D+UdJRiaCtoLGgtaCx1YowEaHRvZpRoBSmBlH2UKGgIaAtoDksAhZRoEIeUUpQoSwFLCoWUaBiJQ1Cot+zyE8WUPvqq431NahI+NM2EA6aW+736OWI+K7vwPd/1TlQxE/O9ljW1kcQV+L2GfJQ2XKEAPrlgcxOntfs9AZYn0KLI8b0aI//80PLnvZR0lGJoHWgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQMBNYzHpL4D/mUPVHNO0TQJR0lGJoJGgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQAAAAAAAA8L8AAAAAAADwP5R0lGJoK2gsaC1oLHVijAdoX3JhbmdllF2UKEc/4Et6zFgTMEdALf/XiyybB2WMB2ZfcmFuZ2WUXZQoR0FIiKxiazAAR0FIyHKLLxAAZYwCZGOUSxB1Lg==
#*# calibration_17 = gASVywMAAAAAAAB9lCiMAXaUSwWMBGZ0b2iUjBtudW1weS5wb2x5bm9taWFsLnBvbHlub21pYWyUjApQb2x5bm9taWFslJOUKYGUfZQojARjb2VmlIwWbnVtcHkuX2NvcmUubXVsdGlhcnJheZSMDF9yZWNvbnN0cnVjdJSTlIwFbnVtcHmUjAduZGFycmF5lJOUSwCFlEMBYpSHlFKUKEsBSwqFlGgMjAVkdHlwZZSTlIwCZjiUiYiHlFKUKEsDjAE8lE5OTkr/////Sv////9LAHSUYolDUKCZmKlzZ/Y/Hm8NG3Xz/T/IAYGLX6fnP92bsq1AjOY/5TXNnB5F0z+PtevYNa3sv3xIdiOrCre/q+I5mKwK9j/h17kYwUzDPyfG++hEzeG/lHSUYowGZG9tYWlulGgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQuF0rEoymlD5tUM/OlumUPpR0lGKMBndpbmRvd5RoC2gOSwCFlGgQh5RSlChLAUsChZRoGIlDEAAAAAAAAPC/AAAAAAAA8D+UdJRijAdfc3ltYm9slIwBeJSMBnN5bWJvbJRoLHVijAlmdG9oX2hpZ2iUaAUpgZR9lChoCGgLaA5LAIWUaBCHlFKUKEsBSwqFlGgYiUNQwyUB7UjzGkAoNOrU+c8JQE2CNgC8yvs/Ge3WNuR9A0CLHaWBuQTVPxBbQ62ghBXAA9maPHOJ8D9rxwkXC1IiQJW4JLvf+ay/Ihzq0hDaEMCUdJRiaB1oC2gOSwCFlGgQh5RSlChLAUsChZRoGIlDEKI+dJUS55Q+1Xp3wZT3lD6UdJRiaCRoC2gOSwCFlGgQh5RSlChLAUsChZRoGIlDEAAAAAAAAPC/AAAAAAAA8D+UdJRiaCtoLGgtaCx1YowEaHRvZpRoBSmBlH2UKGgIaAtoDksAhZRoEIeUUpQoSwFLCoWUaBiJQ1BFo861jteUPjo+q5nRvBs+PIarvCJcDL7bPu1bVhEAPr9C5zMVOtq9BNySgWae/b19N9T39jbGPZfARbaG9f49PxqN4wIWtb1CtxNZ2dflvZR0lGJoHWgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQANtDI3nmKD/mGmszyOwTQJR0lGJoJGgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQAAAAAAAA8L8AAAAAAADwP5R0lGJoK2gsaC1oLHVijAdoX3JhbmdllF2UKEc/KOZ5I0PbAEdALf/eBOiJg2WMB2ZfcmFuZ2WUXZQoR0FIa1BA7sAAR0FIyyK7QUgAZYwCZGOUSxF1Lg==
#*# tap_adjust_z = 0.132
