# ---------------------------------------------- #
# ------------------ Zero MCU ------------------ #
# ---------------------------------------------- #

[mcu extruder_mcu]
canbus_uuid: xxxxxxxxxxxxxx #Hier müsst ihr eure UUID eingeben!!! Enter your own UUID!!!

[lis2dw]
cs_pin: extruder_mcu:PB12
spi_software_sclk_pin: extruder_mcu:PB13
spi_software_mosi_pin: extruder_mcu:PB15
spi_software_miso_pin: extruder_mcu:PB14
axes_map: x,z,y

[resonance_tester]
accel_chip: lis2dw
probe_points:
    175, 175, 30
accel_per_hz: 100
min_freq: 1
max_freq: 100
max_smoothing: 0.2
hz_per_sec: 0.5

[temperature_sensor Toolhead_Temp]
sensor_type: temperature_mcu
sensor_mcu: extruder_mcu

[probe_eddy_ng btt_eddy]
sensor_type: ldc1612
i2c_mcu: extruder_mcu
i2c_software_scl_pin: PB10
i2c_software_sda_pin: PB11
x_offset: -19.8
y_offset: -0.75

[adc_temperature my_thermistor_e]
temperature1:25
resistance1:1268.60
temperature2:180
resistance2:1920.98
temperature3:300
resistance3:2398.52

[extruder]
step_pin: extruder_mcu:PA8   
dir_pin: extruder_mcu:PA9
enable_pin: !extruder_mcu: PA11   
rotation_distance: 6.5 
microsteps: 16                
full_steps_per_rotation: 200 
nozzle_diameter: 0.400        
filament_diameter: 1.75  
max_extrude_only_distance: 150     
max_extrude_cross_section: 60
heater_pin: extruder_mcu:PB7 
sensor_type: my_thermistor_e  
pullup_resistor: 11500
sensor_pin: extruder_mcu:PA5  
min_temp: 0   
max_temp: 355                
max_power: 1.0                
min_extrude_temp: 150         
#control : pid
#pid_kp : 34.838
#pid_ki : 4.976
#pid_kd : 62.823
pressure_advance: 0.025       
pressure_advance_smooth_time: 0.025  

[tmc2209 extruder]
uart_pin: extruder_mcu:PA12
interpolate: True
run_current: 0.8
uart_address: 3
sense_resistor: 0.150

[verify_heater extruder]
max_error: 120
check_gain_time: 30
hysteresis: 5
heating_gain: 2

[fan]
pin: extruder_mcu:PB0
max_power: 1.0
cycle_time: 0.015

[thermistor my_thermistor]
temperature1: 25
resistance1: 100000
temperature2: 50
resistance2: 18085.4
temperature3: 100
resistance3: 5762.6

[heater_fan hotend_fan]      
pin: extruder_mcu:PA6   
max_power: 1.0      
cycle_time: 0.015         
kick_start_time: 0.5         
heater: extruder             
heater_temp: 45              
tachometer_pin: extruder_mcu:PA1
tachometer_ppr: 1
tachometer_poll_interval: 0.0013

# ---------------------------------------------- #
# ------------- End Zer0 Toolhead -------------- #
# ---------------------------------------------- #
